<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Xecure{% endblock %}</title>

    <!-- Стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_report.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_report.css') }}">

    <!-- Скрипты -->
    <script src="{{ url_for('static', filename='js/token.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="{{ page_class }}">

    <!-- Шапка -->
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}"><h1>Xecure</h1></a>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Главная</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.finance') }}">Документы</a></li>
                        {% if current_user.role == 'admin' %}
                            <li><a href="{{ url_for('auth.admin_panel') }}">Администрирование</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}">Выход</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Вход</a></li>
                        <li><a href="{{ url_for('auth.signup') }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="icons">
            <a href="{{ url_for('auth.profile') }}">
                <img src="{{ url_for('static', filename='icons/user-icon.png') }}" alt="Кабинет" class="nav-icon">
            </a>
        </div>
    </header>

    <!-- Основной контент -->
    <main>
        <div id="user-role" data-role="{{ current_user.role }}"></div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Футер -->
    <footer class="footer">
        <div class="footer-container">
            <!-- Логотип и описание -->
            <div class="footer-logo">
                <h2>Xecure</h2>
            </div>

            <!-- Ссылки -->
            <div class="footer-links">
                <ul>
                    <li><a href="{{ url_for('home') }}">Главная</a></li>
                    <li><a href="{{ url_for('auth.finance') }}">Документы</a></li>
                    <li><a href="{{ url_for('auth.admin_panel') }}">Администрирование</a></li>
                </ul>
            </div>

            <!-- Контакты -->
            <div class="footer-contacts">
                <p>Email: <a href="mailto:info@xecure.com">info@xecure.com</a></p>
                <p>Телефон: <a href="tel:+74951234567">+7 (495) 123-45-67</a></p>
            </div>
        </div>

        <!-- Нижний блок -->
        <div class="footer-bottom">
            <p>&copy; 2024 Xecure. Все права защищены. <a href="#">Политика конфиденциальности</a></p>
        </div>
    </footer>

</body>
</html>
