{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="index-wrapper">
        <div class = "info-1">
            <div class = "info-1-contain">
                <h2>Добро пожаловать в Xecure – платформу для управления финансами, заказами и документами!</h2>
                <span>Xecure предоставляет вам удобный инструмент для контроля всех аспектов вашего бизнеса. Наша система позволяет не только управлять заказами и документами, но и настраивать детализированные права доступа для ваших сотрудников и партнеров.
                    Создавайте заказы на производство, управляйте финансами и документами, делайте все это с максимальной эффективностью и безопасностью.
                </span>
            </div>
        </div>
        <div class = "info-2">
            <div class="info-2-contain">
                <h2>Почему Xecure?</h2>
                <div class = "info-2-span">
                    <span>Гибкость в управлении доступами</span>
                    <span>Удобство в создании заказов и обработке документов</span>
                    <span>Безопасность всех данных с возможностью тонкой настройки прав пользователей.</span>
                    <span>Интуитивно понятный интерфейс, который не требует длительного обучения</span>
                </div>
            </div>
        </div>
    </div>
    <div class = "tarif-info">
        <span>Тарифы</span>
    </div>
{% endblock %}
